.board {
    margin: 20px auto ;
    width: 300px; 
	height: 300px; 
	display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
}

.box {
    border: 1px solid black; 
    text-align: center;
    font-size: 25px;
}

.curPlayer, .winnerStatus{
    text-align: center;
    margin: 5px;
}